<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Объявления{% endblock %}</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            Привет, {{ user.username }}!
            |
            <a href="{% url 'logout' %}?next={{ request.path }}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}">Войти</a> |
            <a href="{% url 'register' %}">Зарегистрироваться</a> |
            <a href="{% url 'password_reset' %}">Забыл пароль?</a>
        {% endif %}
    </nav>
    <hr>

    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>
