{% extends 'base.html' %}

{% block content %}
<h1>Объявления</h1>

<form method='get'>
    {{ form.q }}
    {{ form.category }}
    {{ form.condition }}
    <button>Найти</button>
</form>

<ul>
    {% for ad in ads %}
        <li>
            <h1>{{ ad.title }}</h1>
            <p><strong>Состояние:</strong> {{ ad.get_condition_display }}</p>
            <p><strong>Описание:</strong></p>
            <p>{{ ad.description }}</p>
            <p><strong>Автор:</strong> {{ ad.user.username }}</p>
            {% if ad.image_url %}
                <img src='{{ ad.image_url }}'>
            {% endif %}
            <p>Опубликовано: {{ ad.created_at|date:'d.m.Y H:i' }}</p>
            {% if ad.user != request.user %}
                <a href='{% url 'create_exchange_proposal' %}?ad_receiver={{ ad.id }}'>Предложить обмен</a>
            {% endif %}

        </li>
    {% empty %}
        <li>Объявлений не найдено.</li>
    {% endfor %}
</ul>

<div>
    {% if ads.has_previous %}
        <a href='?page={{ ads.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}'>Назад</a>
    {% endif %}

    <span>Страница {{ ads.number }} из {{ ads.paginator.num_pages }}</span>

    {% if ads.has_next %}
        <a href='?page={{ ads.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}'>Вперёд</a>
    {% endif %}
</div>
{% endblock %}