{% extends 'base.html' %}

{% block content %}
    <h2>Предложения обмена</h2>

    <h3>Отправленные предложения</h3>
    {% if sent_proposals %}
        <ul>
            {% for proposal in sent_proposals %}
            <li>
                Вы предложили <strong>{{ proposal.ad_sender.title }}</strong> обменять на <strong>{{ proposal.ad_receiver.title }}</strong>
                <p>Комментарий: {{proposal.comment | default:'без комментария'}}</p>
                <p>Статус: {{ proposal.get_status_display }}</p>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Вы еще не отправляли предложений обмена.</p>
    {% endif %}

    <h3>Полученные предложения</h3>
    {% if received_proposals %}
        <ul>
            {% for proposal in received_proposals%}
                <li>
                    Пользователь <strong>{{ proposal.ad_sender.user.username }}</strong> предложил обменять <strong>{{ proposal.ad_sender.title }}</strong> на <strong>{{ proposal.ad_receiver.title }}</strong>
                    <p>Комментарий: {{proposal.comment | default:'без комментария'}}</p>
                    <p>Статус <span>{{ proposal.get_status_display }}</span></p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Вам еще не предлагали обмен.</p>
    {% endif %}

{%endblock%}
